/* 전체 */
#outer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
}

.modal {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: ; */
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal-content {
    background-color: white;
    width: 40%;
    padding: 50px 100px;
    text-align: center;
    position: fixed;
    position: relative;
    border-radius: 10px;
    top: 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal h1 {
    margin: 0;
}

.hidden {
    display: none;
}

/* 상 중 하단 */
.box {
    text-align: center;
    width: 100%;
    height: 33.333%;
    color: white;
}

/* 상단 */
#top {
    width: 100%;
    margin-bottom: -50px;
}

#top div {
    float: left;
}

#top div:first-child {
    width: 20%;
}

#top div:nth-child(2) {
    width: 60%;
}

#top div:last-child {
    width: 20%;
}

#quotes {
    padding-top: 100px;
    font-style: oblique;
    color: rgba(255, 255, 255, 0.7);
}

#quotes span:first-child {
    display: block;
    width: 100%;
    font-size: 25px;
}

#quotes span:last-child {
    display: block;
    padding-top: 10px;
}

#memoBox {
    position: absolute;
    right: 0;
}

#memo-form input[type="text"] {
    width: 70%;
    padding: 2%;
    border: none;
    border-bottom: 2px solid white;
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
}

#memo-form input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: small;
    text-align: center;
    opacity: 1;
}

#memo-list ul {
    position: relative;
}

#memo-list li {
    width: 70%;
    margin-top: 20px;
    list-style: none;
    z-index: 1;
}

#memo-list li span {
    display: block;
    float: left;
    margin-left: 30%;
}

#memo-list li button {
    background: none;
    border: none;
}

/* 중단 */
#login-form input[type="text"] {
    width: 20%;
    padding: 1%;
    border: none;
    border-bottom: 2px solid white;
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
}

#login-form input[type="text"]::placeholder {
    font-size: large;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

#login-form input:last-child {
    display: none;
}

#greeting {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
}

#clock {
    font-size: 150px;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.7);
}

/* 하단 */
#weather {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
}

/* 기타 */
.hidden {
    display: none;
}

img {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}
