/* 전체 */
#outer {
    width: 100%;
    height: 100%;
    position: absolute;
}

#inner {
    width: 100%;
    position: relative;
    background-color: aqua;
}

/* 상 중 하단 */
.box {
    text-align: center;
    background-color: antiquewhite;
}

/* 상단 */
#top div{
    width: 33%;
    float: left;
    background-color: aquamarine;
}

.hidden {
    display: none;
}
